/* Home */

h2 {
  font-size: 1.5rem;
  margin-top: 2.0rem;
  margin-bottom: 0.3rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.6rem;
  margin-bottom: 0.2rem;
}

html, body {
  color: rgb(66, 63, 55);
  font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}

a {
  color: #6DCEBF;
}

.article-index > a {
  color: #423f37;
  text-decoration: none;
}

a:hover {
  color: #6DCEBF;
}

a.a-home {
  text-decoration: none;
}

a.a-fade {
  color: rgba(66, 63, 55, 0.15);
  transition: color 0.15s;
}

a.a-fade:hover {
  color: #423f37;
  opacity: 1;
}

.nav {
  position: fixed;
  top: 1.3em;
  left: 1.3em;
  font-size: 32px;
}

/* Header */

.header {
  margin-left: auto;
  margin-right: auto;
  width: 512px;
  text-align: center;
}


.social-links a {
  padding-right: 16px;
  font-size: 32px;
}

.social-links a:last-of-type {
  padding-right: 0;
}

.name {
  font-size: 2em;
  font-weight: 100;
}

/* Index */

.index {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3em;
  width: 800px;
}

.collection, .article-index {
  font-weight: 600;
  padding-bottom: 1em;
}

.article-index-link {
  margin-right: 1em;
}

.article-index-date {
  font-weight: 400;
  font-size: 0.8em;
  color: #c7c2b8;
  padding-top: 0.2em;
}

.footer {
  padding: 1em 0;
}

/* Books */

.book {
  display: inline;
}

.book-link {
  float: left;
  margin-right: 2em;
}

.book-date {
  float: left;
}

/* Articles */

.article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3em;
  width: 34em;
  line-height: 1.4;
}

p + p {
  margin-top: 1em;
}

.chart, img {
  padding: 1.5em 0;
}

.img-segment-integrations {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 320px;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
