doctype html
html
  head
    title= title
    meta(name='description', content= description)
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:100,400">
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/ss-social-circle.css')
  body
    .header
      h1.name Gordon Wintrob
      .social-links
        a(href='https://www.linkedin.com/in/gwintrob').ss-icon linkedin
        a(href='https://twitter.com/gwintrob').ss-icon twitter
        a(href='https://github.com/gwintrob').ss-icon octocat
        a(href='mailto:gwintrob@gmail.com?Subject=Hey').ss-icon mail

